<div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <%= render 'layouts/error_messages', model:@user %>
<h2>User info</h2>
<%= form_with model: @user, local:true do |f| %>

<div class="field">
   <%= f.label :name %>
   <p><%= f.text_field :name %></p>
</div>

<div class="field">
    <%= f.label :image %>
    <%= f.attachment_field :profile_image %>
</div>

<div class="field">
    <%= f.label :introduction %>
    <p><%= f.text_area :introduction %></p>
</div>
<div>
  <%= f.submit 'Update User', class: "btn btn-secondary text-light" %>
</div>
</div>
<% end %>