

<%= render 'layouts/sidelist', book:@book_new %>
<h2>Books</h2>
<table>
 <thead>
  <tr>
    <th></th>
    <th>Title</th>
    <th>Opinion</th>
  </tr>
 </thead>

<tbody>
    <% @book_data.each do |book| %>
      <tr>
        <td><%= link_to user_path(book.user.id) do %>
        <%= attachment_image_tag book.user, :profile_image, size: '40x40', class:"attachment user profile_image fallback" %>
        </td>
        <% end %>
        <td><%= link_to book_path(book) ,class: "book_" + "#{book.id}" do %><%= book.title %><% end %></td>
        <td><%= book.body %></td>
      </tr>
      <% end %>
  </tbody>
</table>
