<table>
<div id="room" data-room="<%= @room.id %>" data-user="<%= current_user.id %>">
  <%= @user.name %> さんとのチャット




<% @chats.each do |chat| %>
<% if chat.user_id == @current_user.id %>
<tbody>
  <tr>
    <th><%= chat.message %></th>
    <th></th>
  </tr>

<% else %>
<tbody>
  <tr>
    <td><%= chat.message %></td>
  </tr>
</tbody>
<% end %>
<% end %>
</table>
</tbody>
<%= form_with model: @chat do |f| %>
  <%= f.text_field :message %>
  <%= f.hidden_field :room_id %>
<% end %>

</div>