<%= render 'layouts/sidelist' %>
<h2>Book detail</h2>
<table>
<tbody>
  <tr>
  <td><%= link_to book_path(@book), class: "book_" + "#{book.id}" do %><%= @book.title %><% end %></td>
  <td><%= @book.body %></td>
  <td><%= link_to 'edit', edit_book_path(@book) %></td>
  <td><%= link_to 'destroy', @book, method: :delete, data: {confilm: "本当に削除しますか?" } %></td>
  </tr>
  </tbody>
</table>





