<%= render 'layouts/sidelist', book:@book_new, user:@book.user %>
<div class="col-md-8 offset-md-1">
<h2>Book detail</h2>
<table class="table">
<tbody>
  <tr>
   <td><%= link_to user_path(@book.user.id) do %>
     <% if current_user.profile_image == nil %>
     <%= image_tag 'no_image.jpg', size: '40x40' %>
     <p><%= @book.user.name %></p>
     <% else %>
       <%= attachment_image_tag @book.user, :profile_image, size: '40x40', class:"attachment user profile_image fallback" %>
       </td>
       <% end %>
       <% end %>
   <td><%= link_to book_path(@book), class: "book_" + "#{@book.id}" do %><%= @book.title %><% end %></td>
   <td><%= @book.body %></td>
   <% if current_user.id == @book.user_id %>
     <td><%= link_to 'Edit', edit_book_path(@book), class: "btn btn-success text-light" %></td>
     <td><%= link_to 'Destroy', @book, class: "btn btn-danger text-light", method: :delete, data: {confirm: "本当に削除しますか？"} %></td>
   <% end %>
   <% if @book.favorited_by?(current_user) %>
   <td>
      <%= link_to book_favorites_path(@book), method: :delete do %>
     ♥<%= @book.favorites.count %>
     <% end %>
   </td>
   <% else %>
   <td>
    <%= link_to book_favorites_path(@book), method: :book do %>
     ♡<%= @book.favorites.count %>
     <% end %>
     <% end %>
   </td>
   <td>
       コメント件数: <%= @book.book_comments.count %>
   </td>
   <% @book.book_comments.each do |book_comment| %>
   <%= book_comment.user.name %>
   <%= book_comment.comment %>
   <% end %>


  </tr>
  </tbody>
</table>
 <%= form_with(model:[@book, @book_comment], local: true) do |f| %>
   <%= f.text_area :comment %>
   <%= f.submit "送信" %>
   <% end %>




