<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
        <span class="fas fa-home"></span>
        <%= link_to "Home", user_path(current_user.id) %>
         <span class="fas fa-users"></span>
        <%= link_to "Users", users_path %>
        <span class="fas fa-book-open"></span>
        <%= link_to "Books", books_path %>
        <span class="fas fa-sign-out-alt"></span>
        <%= link_to "logout", destroy_user_session_path, method: :delete %>

    <% else %>
        <span class="fas fa-home"></span>
        <%= link_to "Home", root_path %>
        <span class="fas fa-link"></span>
        <%= link_to "About", homes_about_path %>
        <span class="fas fa-user-plus"></span>
        <%= link_to "Sign up", new_user_registration_path %>
         <span class="fas fa-sign-in-alt"></span>
        <%= link_to "Log in", new_user_session_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
