<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to "Home", root_path %>
        <i class="fas fa-home"></i>
      </li>
      <li class="nav-item">
        <%= link_to "Users", '/users/index' %>
        <span class="fas fa-users"></span>
      </li>
      <li class="nav-item">
        <%= link_to "Books", 'books/index' %>
        <span class="fas fa-book-open"></span>
      </li>
      <li class="nav-item">
        <%= link_to "logout", destroy_user_session_path, method: :delete %>
        <span class="fas fa-sign-out-alt"></span>
      </li>

    <% else %>
      <li class="nav-item">
        <%= link_to "Home", new_user_registration_path %>
        <span class="fas fa-home"></span>
      </li>
      <li class="nav-item">
        <%= link_to "About", new_user_registration_path %>
        <span class="fas fa-users"></span>
      </li>
      <li class="nav-item">
        <%= link_to "Sign up", new_user_registration_path %>
        <span class="fas fa-user-plus"></span>
      </li>
      <li class="nav-item">
        <%= link_to "Log in", new_user_session_path %>
        <span class="fas fa-sign-in-alt"></span>
      </li>
    <% end %>
    <%= yield %>
  </body>
</html>
